@import 'variables';

header {
  height: $header-height;
  background-color: $pri-color;

  color: $thi-color;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .navbar-menu {
    width: 70%;
    display: flex;
    justify-content: space-evenly;

    .navbar-menu-item {
      list-style-type: none;
    }
  }
}