@import 'variables';

header {
  // -------------------- Header item
  height: $navbar-height;
  width: 100%;

  background-color: $pri-color;
  color: $sec-color;
  box-shadow: 3px 3px 16px 16px rgba(125, 125, 125, .15);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  top: 0;

  padding-inline: 50px;

  border-end-end-radius: 20px;
  border-end-start-radius: 20px;

  overflow: hidden;

  .header-container {
    // -------------------- Header's container
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 15px;
  }

  img {
    // -------------------- AtypicalnB logo
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }

  ul {
    // -------------------- Header's menu
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    margin-bottom: 0;
    padding: 0;

    li {
      // -------------------- Header's menu items
      list-style-type: none;
      font-size: 1.3rem;
    }
  }

  ul a {
    // -------------------- Link inside header's menu items (rails paths)
    color: $sec-color;
    font-weight: 500;

    text-decoration: underline;
    text-underline-offset: 50px;

    display: flex;
    flex-direction: column;

    position: relative;

    transition: .2s ease;

    &:hover {
      // -------------------- Hover effect over header's menu items
      color: $thi-color;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
    }
  }

  .switch-container {
    position: absolute;
    left: 25px;
    top: 10px;
  }

  .owner-mode-on {
    color: $fif-color;
    margin-bottom: 0;
  }
  .owner-mode-off {
    color: $fif-color;
    margin-bottom: 0;
  }
  .white {
    color: rgba(170, 170, 170, 0.5);
  }
}