@import 'variables';

.container-global {
  width: 800px;
  display: flex;
  align-items:flex-start;
  flex-grow: 1;
  margin-top: 70px;
}

.star {
  color: $thi-color;
}

.profile {
  width: 350px;
  background-color: #efefef;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  position: fixed;
  // z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.image-profile {
  transition: all 0.5s
}

.image-profile:hover  {
  transform: scale(1.2)
}

// .btn {
//   height: 80px;
//   width: 80px;
//   border-radius: 50%
// }

.profile-name {
  font-size: 22px;
  font-weight: bold
}

.idd {
  font-size: 14px;
  font-weight: 600
}

.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 22px;
  font-weight: 500;
  color: #444444;
}

.links-users {
  text-decoration: none;
  color: $fou-color;
}


// .text span {
//   font-size: 13px;
//   color: #545454;
//   font-weight: 500
// }


.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold
}

.date {
  background-color: #ccc
}
