@import 'variables';

.property-show-section {
    justify-content: space-around;

    .property-show-images {
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-radius: 10px;
        overflow: hidden;
        padding: 25px;
        width: 750px;
        height: 100%;
        box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.10);
    }

    .property-show-infos {
        display: flex;
        flex-direction: column;
        gap: 25px;
        height: 100%;
    }

    .property-show-details {
        width: 450px;
        border-radius: 10px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 15px;

        box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.10);
        padding: 25px;
        flex-grow: 1;

        h2 {
            margin-bottom: 0;
        }

        p {
            font-size: 20px;
            text-align: center;
        }

        .property-rating-stars {
            font-size: 2.5rem;
        }
    }

    .property-show-book-part {
        width: 450px;
        border-radius: 10px;
        overflow: hidden;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;

        box-shadow: 0 0 24px 8px rgba(0, 0, 0, 0.10);
        padding: 25px;

        height: 250px;

    }

    .property-show-miniatures-container {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;


        img {
            width: 228px;
            height: 140px;
            object-fit: cover;
        }

    }

}

.selected-image {
    border: 5px solid $sec-color;
    border-radius: 3px;
}

.properties-show-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;

}

.flatpickr-month,
.flatpickr-next-month>svg path {
    background-color: $sec-color !important;
    color: $pri-color !important;
    fill: white !important;
}

.flatpickr-calendar {
    border-radius: 15px !important;
    overflow: hidden !important;
}

.simple_form.new_booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-booking-label {
    font-size: 18px;
}

.new-booking-date-input {
    margin-top: 15px;
    text-align: center;
    width: 300px;
}

.new-booking-cta {
    border: 2px $sec-color solid;
    color: $pri-color;
    border-radius: 15px;
    font-size: 1.3rem;
    padding: 10px 15px;
    opacity: .75;
    background-color: $sec-color;
    transition: .2s ease;

    &:hover {
        border: 2px $sec-color solid;
        color: $pri-color;
        border-radius: 15px;
        font-size: 1.3rem;
        padding: 10px 15px;
        opacity: 1;
    }
}

.bouton-add-new-fixe{
    position: fixed;
    bottom: $footer-height;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
    background-color: #6554af;
    box-shadow: 0 0 30px #333;
}