@import 'variables';

.container-global {
  width: 800px;
  display: flex;
  justify-content: center;
}


.profile-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  padding-top: 50px;
  // z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: relative;

}

.profile-edit-icon {
  color: $sec-color;
  &:hover {
    color: $thi-color;
  }
}

.profile-div i {
  position: absolute;
  top: 28px;
  right: 13px;
}

.profile-overview {
  text-align: center;
}

.profile-name {
  font-size: 35px;
}
.profile-email {
  font-size: 17px;
  font-weight: lighter;
  color: #ccc;
  margin-top: -5px;
}

.profile-stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  list-style-type: none;
  margin-top: 20px;
  padding: 0px;
}

.profile-stat > li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-stat-number {
  font-size: 25px;
  font-weight: bold;
  color: $thi-color;
  margin-bottom: 0px;
}
.profile-stat-number-title {
  font-size: 15px;
  font-weight: lighter;
  color: #ccc;
}

.star {
  color: $thi-color;
}


// .image-profile:hover  {
//   transform: scale(1.2)
// }

// .btn {
//   height: 80px;
//   width: 80px;
//   border-radius: 50%
// }



.number {
  font-size: 22px;
  font-weight: bold
}

.follow {
  font-size: 22px;
  font-weight: 500;
  color: #444444;
}

.links-users {
  text-decoration: none;
  color: $fou-color;
}


// .text span {
//   font-size: 13px;
//   color: #545454;
//   font-weight: 500
// }


.join {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: bold
}

.date {
  background-color: #ccc
}
