@import 'variables';

.revenue-container-global {
  width: 800px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}


.revenue-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  padding-top: 50px;
  // z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: relative;
}
.occupancy-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  padding-top: 50px;
  // z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: relative;
}

.global-revenues {
  width:100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.revenue {
  font-size: 22px;

  h3 {
    font-weight: bold;
  }
}
#revenue {
  font-size: 30px;
  font-weight: 600;
  color: $green;
  margin-top: 10px;
}
