@import 'variables';

.revenue-container-global {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.revenue-list {
  width: 85%;
}

.revenue-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  padding-top: 50px;
  // z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  position: sticky; /* Set the position to sticky */
  top: 155px; /* Adjust the value based on the height of your navbar */
  z-index: 0;
  h2 {
    font-weight: bold;
  }
  height: fit-content;
}
.occupancy-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  padding-top: 50px;
  // z-index: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.add-margin-to-cards {
  margin-top: 15px;
}

.stat-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.global-revenues {
  width:100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.revenue {
  font-size: 22px;

  h3 {
    font-weight: bold;
  }
}
#revenue {
  font-size: 30px;
  font-weight: 600;
  color: $green;
  margin-top: 10px;
}

.podium-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 20px;
}

.podium-item1 {
  text-align: center;
  color: #FF6969;
  h4 {
    font-weight: bold;
    font-size: 24px;
  }

  p {
    color: rgb(100, 100, 100);
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -5px;
  }
}
.podium-item2 {
  text-align: center;
  color: #FFAB76;
  h4 {
    font-weight: bold;
    font-size: 24px;
  }

  p {
    color: rgb(100, 100, 100);
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -5px;
  }
}
.podium-item3 {
  text-align: center;
  color: #F1C27B;
  h4 {
    font-weight: bold;
    font-size: 24px;
  }

  p {
    color: rgb(100, 100, 100);
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: -5px;
  }
}

.podium-1 {
  border: 1px solid #FF6969;
  background-color: #ff696952;
  height: 135px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.podium-2 {
  border: 1px solid #FFAB76;
  background-color: #ffab7686;
  height: 90px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.podium-3 {
  border: 1px solid #F1C27B;
  background-color: #f1c27b7f;
  height: 75px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.podium-rank {
  font-size: 24px;
  font-weight: bold;
}

.podium-name {
  font-size: 18px;
  margin-top: 10px;
}

.podium-revenue {
  font-size: 16px;
  margin-top: 5px;
  color: #888;
}
