.global-revenues {
  width:100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.revenue {
  font-size: 22px;

  h3 {
    font-weight: bold;
  }
}
#revenue {
  font-size: 30px;
  font-weight: 600;
  color: $green;
  margin-top: 10px;
}
