// Olds vars

// $pri-color: #00235B;
// $sec-color: #E21818;
// $thi-color: #FFDD83;
// $fou-color: #98DFD6;

// $pri-color: #A6D0DD;

// -------------------- // -------------------- // -------------------- 

// -------------------- Actual vars 

// Are used to set up margin top/bottom of the yield-container
$navbar-height: 100px;
$footer-height: 30px;

// Main colors
$pri-color: white;
$sec-color: #FF6969;
$thi-color: #F1C27B;
$fou-color: #98DFD6;
$fif-color: #4d0060;
