// $pri-color: #00235B;
// $sec-color: #E21818;
// $thi-color: #FFDD83;
// $fou-color: #98DFD6;

$navbar-height: 15vh;
$footer-height: 3vh;

// $pri-color: #A6D0DD;
$pri-color: white;
$sec-color: #FF6969;
$thi-color: #F1C27B;
$fou-color: #98DFD6;
