// Olds vars

// $pri-color: #00235B;
// $sec-color: #E21818;
// $thi-color: #FFDD83;
// $fou-color: #98DFD6;

// $pri-color: #A6D0DD;

// -------------------- // -------------------- // --------------------

// -------------------- Actual vars

// Are used to set up margin top/bottom of the yield-container
$navbar-height: 100px;
$footer-height: 30px;

// Main colors
$pri-color: white;
$sec-color: #ff6969;
//$thi-color: #F1C27B;
$thi-color: #ffab76f1;
$fou-color: #98dfd6de;
//$fif-color: #4d0060;
//$fio-color: #00235B;
//$fif-color: #583262;
//$fio-color: #30425e;
$fif-color: #6554afbc;
$fio-color: #30425eb8;

$scroll-color: #FF69697B;
